// s
// .window {
//   list-style: none;
//   flex: 0 0 33.333333%;

//   height: 2000px;
//   width: auto;
//   min-height: 300px;

//   border: solid;
//   border-width: 2px;
//   border-color: red;
//   height: 100%;
// }

// .window-open {
//   background-color: #ffcccb;
//   height: 100%;

//   .window-button {
//     margin: auto;
//   }
// }

// .window-closed {
//   background-color: #fa7674;
//   height: 100%;

//   .title {
//     text-align: center;
//   }
// }

.button-container {
  margin-top: 20px;
  margin: auto;
}

.calendarContainer {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.href-button {
  background-color: #8b0000;

  &:hover {
    background-color: #500202;
  }
}

// maybe import css from other project?
